@img-path: "../public/img/";
@mobile: ~'(max-width:550px)';

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 4rem;
}
html {
  font-size: 62.5%;
}
a {
  font-size: 1.4rem;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}

h2 {
  font-size: 3.5rem;
}


.wrapper {
  background: #6d7175;
  width: 100%;
  height: 100vh;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;

  .landing-page-header {
    display: flex;
    justify-content: left;
    padding: 1rem 0;

    .help-button {
      padding: 1rem;
      border: 0.2rem solid gray;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      background: white;
      font-size: 2rem;
      width: 5rem;
      height: 5rem;
    }
  }
}

.carousel {
  .carousel-header {
    display: flex;
    justify-content: center;
    align-items: center;

    .left-button,
    .right-button {
      font-size: 2.5rem;
      cursor: pointer;
    }
    .left-button {
      padding-right: 2rem;
    }

    .right-button {
      padding-left: 2rem;
    }
  }
}

//Create Account page
.main-form {
  font-size: 2rem;
  color: #cbcbcb;
  display: flex;
  flex-direction: column;
  background-color: rgba(26,23,26, .5);
  width: 50%;
  margin: 0 auto;
  padding: 4% 6%;
  text-align: left;
  margin-top: 10%;
  border-radius: 4px;
  @media @mobile {
    width: 80%;
  }
  .above-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .text-box {
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    padding: 5px;
    background-color: #cbcbcb;
    border-radius: 2px;
  }
  .bottom-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .submit-button {
      border-radius: 2px;
      padding: 8px 12px;
      border: 0;
      color:#cbcbcb;
      background-color: #c92b2b;
      cursor: pointer;
    }
  }
}
.signup-container {
  
  height: 75vw;
  background: radial-gradient(circle at 0 0, rgba(114, 22, 22, 0), #721616);
}
.login-container {
  height: 75vw;
  background-image: radial-gradient(circle at 0 0, rgba(114, 22, 22, 0), #721616);
}
