.wrapper {
  background-image: linear-gradient(to bottom, #401414, rgba(0, 0, 0, 0));
  background-color: rgba(53, 53, 53, 0.65);
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.landing-page-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;

  .help-button {
    margin-left: 10px;
    color: #cbcbcb;
    cursor: pointer;
    padding: .6rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background: rgba(125, 125, 125, 0.6);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    span {
      font-size: 2.6rem;
    }
  }
}

.landing-page.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 6.5rem;
  
  
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(132, 132, 132, 0.15);

    .left-button,
    .right-button {
      cursor: pointer;
      position: absolute;
      color: "#cbcbcb";
      justify-content: center;

      @media @mobile {
        height: 3.4rem;
      }
    }
    .left-button {
      padding-right: 2rem;
      left: 5rem;
      
      @media @mobile {
        left: 2rem;
      }
    }
    
    .right-button {
      padding-left: 2rem;
      right: 5rem;
      @media @mobile {
        right: 2rem;
      }
    }

    .landing-page.joke {
      max-width: 80.1rem;
      margin: 0 auto;

      @media @mobile {
        max-width: 75%;
      }
      
      .joke-setup, .joke-delivery {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.171rem;
        font-size: 4.8rem;

        @media @mobile {
          font-size: 3.8rem;
        }
      }
      
      .joke-setup {
        color: #cbcbcb;
      }
      
      .joke-delivery{
        color: #e5872f;
      }
    }
  }
  
  .landing-page.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 5rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 81.8rem;

    .landing-page.tagline {
      font-size: 3.6rem;
      color: #cbcbcb;
    }
    .landing-page-login {
      a{
        color: blue;
      }
      a:hover {
        color: lighten(blue, 7%);
      }
      a:active {
        color: #e5872f;
      }
    }
  }
}
