* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  min-height: 100%;
  overflow: auto;
  font-size: 1.6rem;
}
.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h2 {
  font-size: 3.5rem;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
button {
  font-size: 1.6rem;
}
body,
p,
span {
  font-size: 1.6rem;
}
.signup-container {
  background: radial-gradient(circle at 0 0, rgba(114, 22, 22, 0), #721616), url(./img/bg-create.png) no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-container {
  background: radial-gradient(circle at 0 0, rgba(114, 22, 22, 0), #721616), url(./img/bg-login.png) no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-form {
  color: #cbcbcb;
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 23, 26, 0.5);
  width: 50%;
  padding: 4% 6%;
  text-align: left;
  border-radius: 4px;
}
@media (max-width:885px) {
  .main-form {
    width: 70%;
  }
}
@media (max-width:550px) {
  .main-form {
    width: 80%;
  }
}
.main-form .above-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.main-form .above-boxes .error-text {
  color: #c92b2b;
}
.main-form .above-boxes .error-icon {
  color: #c92b2b;
  position: relative;
  top: 26px;
  right: 16px;
}
.main-form .above-boxes .check-icon {
  color: green;
  position: relative;
  top: 26px;
  right: 16px;
}
.main-form .text-box {
  width: 100%;
  margin-bottom: 5px;
  border: 0;
  padding: 5px;
  background-color: #cbcbcb;
  border-radius: 2px;
}
.main-form .bottom-form {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-form .bottom-form .form-link {
  color: #e5872f;
}
.main-form .bottom-form .form-link:hover {
  color: #ff9e44;
}
.main-form .bottom-form .submit-button {
  width: 150px;
  border-radius: 2px;
  padding: 8px 12px;
  border: 0;
  color: #cbcbcb;
  background-color: #c92b2b;
  cursor: pointer;
}
.main-form .bottom-form .submit-button:hover {
  background-color: #d33030;
}
.add-joke-dialog {
  background-color: #eba15c;
}
#form-dialog-title {
  font-size: 4rem;
}
.home-container .jokes-container {
  margin: 0 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.home-container .jokes-container .add-joke-container {
  align-self: center;
}
.home-container .jokes-container .add-joke-container .add-joke-button {
  background-color: #e5872f;
  width: 150px;
  padding: 5px;
}
.home-container .jokes-container .single-joke {
  background: #721616;
  margin: 10px auto;
  width: 100%;
  padding: 10px 20px;
  border-radius: 2px;
}
.home-container .jokes-container .single-joke p {
  font-size: 2.4rem;
  color: #cbcbcb;
}
.home-container .jokes-container .single-joke .second-part {
  color: #ff9e44;
}
.home-container .jokes-container .single-joke .icon-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container .jokes-container .single-joke .bookmark-button {
  color: #e5872f;
  cursor: pointer;
}
.home-container .jokes-container .single-joke .share-button {
  color: #cbcbcb;
  cursor: pointer;
  background: rgba(206, 206, 206, 0.5);
  border-radius: 16px;
  padding: 5px;
}
.home-container .jokes-container .single-joke .share-icons {
  color: #cbcbcb;
  display: flex;
  background: rgba(206, 206, 206, 0.5);
  border-radius: 16px;
  padding: 5px;
}
.home-container .jokes-container .single-joke .share-icons > * {
  padding: 0 5px;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(125, 125, 125, 0.6);
  padding: 10px 0;
}
.footer .contact-us {
  margin-right: 10px;
  color: #cbcbcb;
  text-align: right;
}
.wrapper {
  background-image: linear-gradient(to bottom, #401414, rgba(63, 20, 20, 0.99), rgba(0, 0, 0, 0));
  background-color: rgba(53, 53, 53, 0.65);
  width: 100%;
  height: 100vh;
}
.landing-page-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}
.landing-page-header .help-button {
  margin-left: 10px;
  color: #cbcbcb;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background: rgba(125, 125, 125, 0.6);
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
}
.landing-page-header .help-button span {
  font-size: 2.6rem;
}
.landing-page.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .left-button,
.carousel .right-button {
  font-size: 2.5rem;
  cursor: pointer;
}
.carousel .left-button {
  padding-right: 2rem;
}
.carousel .right-button {
  padding-left: 2rem;
}
.landing-page.container {
  display: flex;
  flex-direction: column;
}
