.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
h2 {
  font-size: 3.5rem;
}
p {
  font-size: 2rem;
}
.landing-page-header {
  display: flex;
  justify-content: left;
  padding: 1rem 0;
}
.landing-page-header .help-button {
  padding: 1rem;
  border: 0.2rem solid gray;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background: white;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
}
.carousel .carousel-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-header .left-button,
.carousel .carousel-header .right-button {
  font-size: 2.5rem;
  cursor: pointer;
}
.carousel .carousel-header .left-button {
  padding-right: 2rem;
}
.carousel .carousel-header .right-button {
  padding-left: 2rem;
}
